<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Docker Test Run">
    <test verbose="2" preserve-order="true" parallel="classes" thread-count="5" name="C:/Users/91762/IdeaProjects/SDET_2024">
        <classes>
            <class name="docker.dockerTestChrome">
            </class>
            <class name="docker.dockerTestEdge">
            </class>
            <class name="docker.dockerTestFirefox">
            </class>
        </classes>
    </test>
</suite>